<div class="bigest-div">
    <div class="big-div">
        <div class="small-div" *ngFor="let movie of moviesDisplay">
            <div class="img-div">
                <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}">
            </div>
            <div class="description-div">
                <span class="movie-title"><a id="{{movie.id}}" (click)="goToMovieDetail($event)">{{movie.title}}</a></span>
                <br>
                <span>{{movie.release_date | date}}</span>
            </div>
            <span class="rating">{{movie.vote_average}}</span>
        </div>
        <div *ngIf="scrollLimitReached">
            <h1 class="scrollLimit">You reached the scroll limit</h1>
        </div>
    </div>
</div>
<div infiniteScroll [infiniteScrollDistance]="0.2" [infiniteScrollThrottle]="1000" (scrolled)="infiniteScrollFn()">
</div>
