* {
    font-family: arial;
}

.popular-movie {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 1500px;
        margin: 0 auto;
        padding-top: 0px;
}

.movie-img {
    display: inline-block;
}

.backgound-div {
    background-color: rgb(41, 40, 40);
    padding: 80px 10px 0px 10px;
    }
    
    .potato-description {
        position: absolute;
        width: 1500px;
        margin: 0 auto;
        background-color: rgb(28, 28, 28, 0.6);
        bottom: 0;
        height: 1800px;
    }
    
    .inner-description {
        color: white;
        width: 900px;
        margin: 0 auto;
        margin-top: 200px;
        text-align: center;
    }
    
    .input-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    width: 400px;
    height: 50px;
    border: none;
}

button {
    height: 52px;
    width: 140px;
    font-size: 20px;
    border: none;
    background-color: #1ce783;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: 0.5px solid #1ce783;
}

h1 {
    font-size: 50px;
}