<div class="big-div">
    <h1 [ngStyle]="{color:divColor}">Nvidia's new RTX 4090 brings a big boost to 4K performance. It's the next
        generation of
        Ada Lovelace cards. Thanks to DLSS 3,</h1>
    <div class="small-div" *ngFor="let list of Lists"
        [ngStyle]="{boxShadow:list.id == id ? '10px 10px 5px '+divColor:'',border:list.id == id ? '2px solid '+divColor:''}">
        <ul>
            <h1>
                {{list.header}}
            </h1>
            <p>
                {{list.description}}
            </p>
            <button id="{{list.id}}" value="{{list.color}}" (click)="clickFn($event)"
                [ngStyle]="{'backgroundColor':list.color}">Click me</button>
        </ul>
    </div>
</div>