<div class="login-big-div">
    <div class="login">
        <h1>Welcome to Potato Movie!</h1>

        <span class="input-type">Enter your Email</span>
        <input class="input-block" type="email" placeholder="E-mail">
        <span class="input-type">Select your role</span>
        <div class='radio-button-div'>
            <input class="radio-button" type="radio">Member
            <input class="radio-button" type="radio">Admin
        </div>
        <span class="input-type">Create Username</span>
        <input class="input-block" type="text" placeholder="Username">
        <span class="input-type">Enter your password</span>
        <input class="input-block" type="password" placeholder="Password">
        <span class="input-type">Enter your password</span>
        <input class="input-block" type="password" placeholder="Confirm Password">
        <br>
        <br>
        <button>Sign In</button>
        <br>
        <br>
        <p>Already registered? Go to<a routerLink="/login"> Login page</a></p>
        <br>
        <p>This page is created by PotatoMovie. <a href=""> Learn more.</a></p>
    </div>
    <div class="div-footer">
        <ul>
            <span><a href="">FAQ</a></span>
            <span><a href="">Help Center</a></span>
            <span><a href="">Terms of Use</a></span>
            <span><a href="">Careers</a></span>
            <span><a href="">About Us</a></span>
        </ul>

    </div>
</div>