* {
    margin: 0;
    padding: 0;
    font-family: arial;
    }
    
    input {
        background-color: white;
}

.login-big-div {
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    width: 100vw;
    z-index: -1;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/79fe83d4-7ef6-4181-9439-46db72599559/be1d82ef-72c1-4a2a-8c16-5170169f9ef8/US-en-20221017-popsignuptwoweeks-perspective_alpha_website_large.jpg');
}

.login {
    display: flex;
        flex-direction: column;
        justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.75);
            width: 500px;
            margin: 0 auto;
        margin-top: 0px;
}

.mat-form {
    min-width: 150px;
    max-width: 500px;
    width: 75%;
}
.mat-full-width {
    width: 100%;
    margin: 0 auto;
    padding-top: 3px;
        padding-bottom: 3px;
    font-size: 30px;
    margin-bottom: 3px;
}


.mat-button {
    background-color: #1ce783;
    width: 100%;
    margin-bottom: 30px;
}

.mat-button:disabled {
    background-color: rgb(211, 211, 211);
}

.hintMSG {
    color: red;
    font-size: 15px;
}

h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 30px;
}

.signup {
    color: rgb(254, 63, 63);
}

p {
    text-align: center;
}

.signup:hover {
    cursor: pointer;
    text-decoration: underline;
}