.big-div {
    position: absolute;
    font-family: arial;
}

.navtop {
    /* background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(41, 40, 40, 0)); */
    height: 80px;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: end;
}

label.logo {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    left: 0;
    margin-left: 90px;
    color: #e50914;
}

label {
    width: 250px;
}

nav ul {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0px 20px;
    border-radius: 10px;
    padding: 0px 20px;
    color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bolder;
        border: 1px solid rgb(93, 93, 93);
}


li:hover {
    background-color: rgb(81, 81, 81);
    cursor: pointer;
}

input {
    padding: 5px;
}

img {
    width: 27px;
}

.title {
    width: 300px;
}

label:hover {
    cursor: pointer;
}